@import url('https://fonts.googleapis.com/css2?family=Liter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
    background: rgb(0,0,0);
    background: linear-gradient(138deg, rgba(0,0,0,1) 12%, rgba(43,179,179,1) 100%);
    font-family: "Montserrat", serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    height: 3.8%;
}

.text h1{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 1%;
    cursor: pointer;
    font-weight: 100;
    transition: all ease-out 0.4s, font-weight ease 0.5s;
    will-change: transform;
    text-rendering: optimizeLegibility;
}

.text h1:hover{
    transform: scale(1.2);
    text-shadow: 0 0 1px white, 0 0 20px white;
    font-weight: 800;
}

.list ul{
    display: flex;
    list-style-type: none;
    position: absolute;
    left: 35%;
    top: 2.7%;
    gap: 50px;
}

.list li{
    opacity: 0.8;
    transition: all ease 0.3s;
    font-weight: 500;
}

.list a{
    text-decoration: none;
    color: white;
}

.list li:hover{
    transform: scale(1.150);
    opacity: 1;
    text-shadow: 0 0 3px white, 0 0 20px white;
}

.searchbox input{
    position: absolute;
    left: 80%;
    top: 1.7%;
    border-radius: 15px;
    background: transparent;
    color: white;
    padding: 3px;
    border: 2px solid;
    border-color: rgb(7, 78, 78);
    outline: none;
    font-family: "Montserrat", serif;
}

.searchicon{
    color: white;
    font-size: 21px;
    position: absolute;
    left: 93%;
    top: 1.8%;
}

.midside{
    height: 40%;
}

.food img{
    width: 500px;
    height: 300px;
    border-radius: 35px;
    position: absolute;
    left: 55%;
    top: 20%;
    box-shadow: 0 0 15px #ff711f;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    opacity: 0.7;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.food img:hover{
    transform: translateY(-20px);
    opacity: 1;
}

.foodtext{
    display: flex;
}

.foodtext h2{
    color: rgb(180, 111, 8);
    position: absolute;
    top: 22%;
    left: 11%;
    text-shadow: 0 0 1px rgb(180, 111, 8), 0 0 15px rgb(180, 111, 8);
    font-size: 30px;
}

.foodtext h4{
    color: white;
    position: absolute;
    top: 28%;
    left: 2.5%;
    font-size: 14px;
}

.foodtext .undertext{
    color: white;
    position: absolute;
    top: 30.5%;
    left: 8.5%;
}

button{
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    font-size: 15px;
    transition: all 0.5s ease;
    position: absolute;
    left: 17.5%;
    top: 38%;
}
  
button:hover{
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    transform: scale(1.1);
}
  
button:active{
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: scale(0.9);
    transition: 100ms;
}

.bottomside{
    height: 55%;
}

.bottomside h1{
    color: rgb(180, 111, 8);
    position: absolute;
    left: 4.8%;
    top: 103%;
    text-shadow: 0 0 1px rgb(180, 111, 8), 0 0 15px rgb(180, 111, 8);
}

.bottomside h3{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 5%;
    top: 110%;
}

.botimgone img{
    border-radius: 25px;
    width: 460px;
    height: 268px;
    position: absolute;
    top: 130%;
    left: 11%;
    opacity: 0.6;
    box-shadow: 0 0 15px white;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transition: all ease 0.7s;
    transform: rotate(-365deg);
}

.botimgone img:hover{
    transform: translateY(-25px);
    opacity: 1;
    border-radius: 10px;
}

.botimgtwo img{
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 130%;
    left: 50%;
    opacity: 0.6;
    box-shadow: 0 0 15px rgb(180, 111, 8);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transition: all ease 0.5s;
    transform: rotate(365deg);
}

.botimgtwo img:hover{
    transform: translateY(-25px);
    opacity: 1;
    border-radius: 10px;
}

.footer h4{
    color: white;
    position: fixed;
    left: 35%;
    top: 95%;
    opacity: 0.5;
}



